<% content_for(:title) do %>What is NuggetHub?<% end %>

<h1>What is NuggetHub?</h1>
<p>NuggetHub is a simple site for storing and sharing your little nuggets of information.</p>
<p>Found out something interesting? Post it here and share with the world rather than waiting for someone to ask.</p>
<p>You create <a href="http://dictionary.reference.com/browse/nugget" target="_blank">nuggets of information</a> to share.</p>
<p>Keep your nuggets safe for the next time you need them rather than trying to remember them.</p>
<p>That's it! More features are coming all the time to enhance the site and make it more useful.</p>
<p>Oh did I mention it's open source? <a href="http://github.com/andypike/NuggetHub" target="_blank">Take a look at the source on GitHub</a>.</p>

<h2>Why are you building NuggetHub?</h2>
<p>Basically this is my first Ruby on Rails project and I wanted something to get my teeth into to learn all about RoR, the available Gems and all that jazz.</p>
<p>I'm no Rails expert, so feel free to <a href="http://github.com/andypike/NuggetHub" target="_blank">checkout the source</a> and let me know what I'm doing wrong.</p>
<p>You can get updates <a href="http://twitter.com/nuggethub" target="_blank">on Twitter</a> so feel free to get in touch.</p>

<h2>I've got an idea for NuggetHub, what to hear it?</h2>
<p>Sure do, take a look at the feedback tab on the left or jump over to the UserVoice forum where you can submit your ideas and vote on others.</p>

<h2>What have you used to create NuggetHub?</h2>
<p>Here is a quick list of the tech I've used, I'll try and keep this up-to-date:</p>
<ul>
    <li>Mac OSX 10.6.2</li>
    <li>Ruby 1.8.7</li>
    <li>Rails 2.3.5</li>
    <li>RubyMine</li>
    <li>Authlogic</li>
    <li>CanCan</li>
    <li>will_paginate</li>
    <li>Gravatar</li>
    <li>Formtastic</li>
    <li>Friendly_id</li>
    <li>Compass</li>
    <li>Sass</li>
    <li>Bluecloth</li>
    <li>Cucumber</li>
    <li>Webrat</li>
    <li>RSpec</li>
    <li>Mocha</li>
    <li>Relevance-rcov</li>
    <li>Git and GitHub</li>
    <li>RunCodeRun (<a href="http://runcoderun.com/andypike/NuggetHub" target="_blank">see the build</a>)</li>
    <li>Heroku</li>
    <li>Thanks to <a href="http://railscasts.com" target="_blank">Railscasts.com</a>, you rock!</li>
</ul>