<% content_for(:title) do %>What is NuggetHub?<% end %>

<h1>What is NuggetHub?</h1>
<p>NuggetHub is a simple site for storing and sharing your little nuggets of information.</p>
<p>Found out something interesting? Post it here and share with the world rather than waiting for someone to ask.</p>
<p>Keep your nuggets safe for the next time you need them rather than trying to remember them.</p>
<p>That's it! More features are coming all the time to enhance the site and make it more useful.</p>
<p>Oh did I mention it's open source? <a href="http://github.com/andypike/NuggetHub" target="_blank">Take a look at the source on GitHub</a>.</p>
