body.three-col
  .comments
    margin: 20px 0 0 50px
    .comment
      +clearfix
      margin-bottom: 15px
      background: url(../../images/comment-arrow.gif) no-repeat 40px 0px
      .comment-markdown
        border: solid 2px #d0d0d0
        background: #efefef
        float: left
        margin: 0 0 0 22px
        padding: 10px
        width: 500px
      img.gravatar
        float: left
      .comment-info
        padding: 3px
        clear: both
        margin-left: 55px
    form
      margin: 20px 0 0 55px
      textarea
        width: 500px
