body.three-col
  .success
    padding: 5px
    background: #ccff99
    border: solid 2px #33cc00
    margin-bottom: 10px
  #content
    //17 of the 24 columns
    +column(17)
    #content-top
      background-image: url(../../images/content-top.gif)
      height: 15px
      margin-top: 10px
    #content-body
      padding: 0 15px 20px 15px
      background: #fff url(../../images/content-bottom.gif) no-repeat 0 bottom