body.three-col
  .success, .error
    padding: 5px 30px
    margin-bottom: 10px
    font-weight: bold
  .success
    background: #78cb2d url(../../images/success-bg.gif) no-repeat
    border: solid 1px #518a1f
    color: #000
  .error
    background: #cb3b2e url(../../images/error-bg.gif) no-repeat
    border: solid 1px #8a281f
    color: #fff
  #content
    //17 of the 24 columns
    +column(17)
    #content-top
      background-image: url(../../images/content-top.gif)
      height: 15px
      margin-top: 10px
    #content-body
      padding: 0 15px 20px 15px
      background: #fff url(../../images/content-bottom.gif) no-repeat 0 bottom