body.three-col
  #content
    //17 of the 24 columns
    +column(17)
    #content-top
      background-image: url(../../images/content-top.gif)
      height: 15px
      margin-top: 10px
    #content-body
      padding: 0 15px 20px 15px
      background: #fff url(../../images/content-bottom.gif) no-repeat 0 bottom