body.three-col
  .nugget:hover
    background-image: url(../../images/nugget-bg-hover.gif)
  .nugget
    background-image: url(../../images/nugget-bg.gif)
    height: 55px
    padding: 10px
    margin-bottom: 10px
    border: solid 1px #a1b4c6
    .gravatar
      float: left
    .nugget-details
      width: 560px
      float: left
      margin-left: 10px
      h3
        display: inline
  .nugget-body
    font-size: 1.4em
  .add-nugget
    textarea, input.title
      width: 600px
    em
      color: #aaa
    span#char-count
      margin-left: 55px
      background: #ffff99
      border: solid 1px #ffcc66
      padding: 2px 7px

        