<div class="nugget">
  <%= gravatar_for nugget.user, :size => 42 %>
  <div class="nugget-details">
    <h3><%= link_to h(nugget.title), nugget_path(nugget) %></h3>
    <div>Posted by <%=h nugget.user.username %> <%=h relative_date(nugget.updated_at) %></div>
  </div>
</div>
