<% content_for(:title) do %>Latest Nuggets<% end %>

<h1>Latest Nuggets</h1>
<p><%= page_entries_info @nuggets %></p>
<div id="nuggets-list">
  <%= render :partial => 'shared/nugget', :collection => @nuggets %>
</div>

<%= will_paginate @nuggets %>
