/* line 4, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
a img {
  border: none; }

/* line 15, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp label {
  font-weight: bold; }
/* line 17, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0; }
/* line 20, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em; }
/* line 24, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text] {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 5px; }
/* line 28, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.title {
  font-size: 1.5em; }
/* line 30, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input[type=checkbox], form.bp input.checkbox,
form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em; }
/* line 34, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px; }
/* line 37, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp select {
  margin: 0.5em 0; }
/* line 48, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp fieldset {
  border: 1px solid #cccccc; }
/* line 50, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title,
form.bp textarea,
form.bp select {
  border: 1px solid #bbbbbb; }
  /* line 54, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  form.bp input.text:focus, form.bp input.title:focus,
  form.bp textarea:focus,
  form.bp select:focus {
    border: 1px solid #666666; }
/* line 41, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title {
  width: 300px; }
/* line 43, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp textarea {
  width: 390px;
  height: 250px; }
/* line 4, ../../../app/stylesheets/partials/_forms.sass */
form.bp .errorExplanation {
  color: #ff0000; }
  /* line 6, ../../../app/stylesheets/partials/_forms.sass */
  form.bp .errorExplanation h2 {
    color: #ff0000; }
/* line 9, ../../../app/stylesheets/partials/_forms.sass */
form.bp .fieldWithErrors {
  color: #ff0000; }

/* line 2, ../../../app/stylesheets/partials/layout/_header.sass */
body.three-col #header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  background-image: url(../../images/header-bg.gif);
  height: 67px; }
  /* line 101, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body.three-col #header {
    overflow-x: hidden; }
  /* line 6, ../../../app/stylesheets/partials/layout/_header.sass */
  body.three-col #header #menu {
    float: right;
    background: #000;
    padding: 5px 20px;
    margin-right: 20px; }
    /* line 11, ../../../app/stylesheets/partials/layout/_header.sass */
    body.three-col #header #menu a {
      color: #fff; }

/* line 2, ../../../app/stylesheets/partials/layout/_footer.sass */
body.three-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  color: #bbb;
  margin-top: 5px;
  font-size: 0.9em; }
  /* line 101, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body.three-col #footer {
    overflow-x: hidden; }
  /* line 7, ../../../app/stylesheets/partials/layout/_footer.sass */
  body.three-col #footer a {
    color: #ddd; }

/* line 2, ../../../app/stylesheets/partials/layout/_sidebar.sass */
body.three-col #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 270px; }
  /* line 101, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body.three-col #sidebar {
    overflow-x: hidden; }
  /* line 5, ../../../app/stylesheets/partials/layout/_sidebar.sass */
  body.three-col #sidebar .sidebar-top {
    background-image: url(../../images/sidebar-top.gif);
    height: 15px;
    margin-top: 10px; }
  /* line 9, ../../../app/stylesheets/partials/layout/_sidebar.sass */
  body.three-col #sidebar .sidebar-body {
    overflow: hidden;
    display: inline-block;
    background: #eaeaea url(../../images/sidebar-bottom.gif) no-repeat 0 bottom;
    padding: 0 15px 20px 15px; }
    /* line 5, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    body.three-col #sidebar .sidebar-body {
      display: block; }
    /* line 13, ../../../app/stylesheets/partials/layout/_sidebar.sass */
    body.three-col #sidebar .sidebar-body .gravatar {
      vertical-align: middle;
      margin-right: 5px; }
    /* line 16, ../../../app/stylesheets/partials/layout/_sidebar.sass */
    body.three-col #sidebar .sidebar-body .current-user {
      color: #373957;
      font-size: 1.2em;
      font-weight: bold; }

/* line 2, ../../../app/stylesheets/partials/layout/_content.sass */
body.three-col .success, body.three-col .error {
  padding: 5px 30px;
  margin-bottom: 10px;
  font-weight: bold; }
/* line 6, ../../../app/stylesheets/partials/layout/_content.sass */
body.three-col .success {
  background: #78cb2d url(../../images/success-bg.gif) no-repeat;
  border: solid 1px #518a1f;
  color: #000; }
/* line 10, ../../../app/stylesheets/partials/layout/_content.sass */
body.three-col .error {
  background: #cb3b2e url(../../images/error-bg.gif) no-repeat;
  border: solid 1px #8a281f;
  color: #fff; }
/* line 14, ../../../app/stylesheets/partials/layout/_content.sass */
body.three-col #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 670px; }
  /* line 101, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body.three-col #content {
    overflow-x: hidden; }
  /* line 17, ../../../app/stylesheets/partials/layout/_content.sass */
  body.three-col #content #content-top {
    background-image: url(../../images/content-top.gif);
    height: 15px;
    margin-top: 10px; }
  /* line 21, ../../../app/stylesheets/partials/layout/_content.sass */
  body.three-col #content #content-body {
    padding: 0 15px 20px 15px;
    background: #fff url(../../images/content-bottom.gif) no-repeat 0 bottom; }

/* line 2, ../../../app/stylesheets/partials/layout/_nuggets.sass */
body.three-col #nugget-header {
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  body.three-col #nugget-header {
    display: block; }
  /* line 4, ../../../app/stylesheets/partials/layout/_nuggets.sass */
  body.three-col #nugget-header h1 {
    width: 580px;
    float: left; }
  /* line 7, ../../../app/stylesheets/partials/layout/_nuggets.sass */
  body.three-col #nugget-header .tweetmeme {
    float: right; }
/* line 9, ../../../app/stylesheets/partials/layout/_nuggets.sass */
body.three-col .nugget:hover {
  background-image: url(../../images/nugget-bg-hover.gif); }
/* line 11, ../../../app/stylesheets/partials/layout/_nuggets.sass */
body.three-col .nugget {
  overflow: hidden;
  display: inline-block;
  background-image: url(../../images/nugget-bg.gif);
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #a1b4c6; }
  /* line 5, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  body.three-col .nugget {
    display: block; }
  /* line 17, ../../../app/stylesheets/partials/layout/_nuggets.sass */
  body.three-col .nugget .gravatar {
    float: left; }
  /* line 19, ../../../app/stylesheets/partials/layout/_nuggets.sass */
  body.three-col .nugget .nugget-details {
    width: 560px;
    float: left;
    margin-left: 10px; }
    /* line 23, ../../../app/stylesheets/partials/layout/_nuggets.sass */
    body.three-col .nugget .nugget-details h3 {
      display: inline; }
    /* line 25, ../../../app/stylesheets/partials/layout/_nuggets.sass */
    body.three-col .nugget .nugget-details .posted-by {
      clear: both; }
/* line 27, ../../../app/stylesheets/partials/layout/_nuggets.sass */
body.three-col .tags {
  overflow: hidden;
  display: inline-block;
  margin: 10px 0 5px 0; }
  /* line 5, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  body.three-col .tags {
    display: block; }
/* line 30, ../../../app/stylesheets/partials/layout/_nuggets.sass */
body.three-col .tag {
  float: left;
  padding: 5px 5px 5px 22px;
  background: #606378 url(../../images/tag.gif) no-repeat 4px 7px;
  margin: 0 5px 5px 0; }
  /* line 35, ../../../app/stylesheets/partials/layout/_nuggets.sass */
  body.three-col .tag a, body.three-col .tag a:visited {
    color: #d0d0d0;
    text-decoration: none; }
  /* line 38, ../../../app/stylesheets/partials/layout/_nuggets.sass */
  body.three-col .tag a:hover {
    color: #fff; }
/* line 40, ../../../app/stylesheets/partials/layout/_nuggets.sass */
body.three-col .nugget-body {
  font-size: 1.4em;
  border: solid 1px #ccc;
  padding: 5px;
  margin-bottom: 10px;
  background: #efefef; }
  /* line 46, ../../../app/stylesheets/partials/layout/_nuggets.sass */
  body.three-col .nugget-body p, body.three-col .nugget-body ul {
    margin-bottom: 5px;
    font-size: 0.8em; }
  /* line 49, ../../../app/stylesheets/partials/layout/_nuggets.sass */
  body.three-col .nugget-body code {
    font: 12px courier,monospace; }
  /* line 51, ../../../app/stylesheets/partials/layout/_nuggets.sass */
  body.three-col .nugget-body pre {
    margin: 10px;
    padding: 10px;
    background: #111;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #00ff00; }
/* line 59, ../../../app/stylesheets/partials/layout/_nuggets.sass */
body.three-col .nugget-info {
  clear: both;
  background: #ffffcc;
  padding: 3px;
  margin-top: 10px; }
  /* line 64, ../../../app/stylesheets/partials/layout/_nuggets.sass */
  body.three-col .nugget-info .gravatar {
    vertical-align: middle;
    margin-right: 5px; }
/* line 68, ../../../app/stylesheets/partials/layout/_nuggets.sass */
body.three-col .nugget-form textarea, body.three-col .nugget-form input.title {
  width: 600px; }
/* line 70, ../../../app/stylesheets/partials/layout/_nuggets.sass */
body.three-col .nugget-form span#char-count {
  margin-left: 55px;
  background: #ffff99;
  border: solid 1px #ffcc66;
  padding: 2px 7px; }
/* line 75, ../../../app/stylesheets/partials/layout/_nuggets.sass */
body.three-col .nugget-form .wmd-preview {
  margin: 10px 0 20px 0; }

/* line 1, ../../../app/stylesheets/partials/layout/_your-account.sass */
.your-account form {
  width: 300px; }

/* line 2, ../../../app/stylesheets/partials/layout/_pagination.sass */
body.bp .pagination {
  background: #ffffcc;
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
  padding: 4px; }
  /* line 8, ../../../app/stylesheets/partials/layout/_pagination.sass */
  body.bp .pagination .current {
    font-weight: bold; }
  /* line 10, ../../../app/stylesheets/partials/layout/_pagination.sass */
  body.bp .pagination .disabled {
    color: #ccc; }
  /* line 12, ../../../app/stylesheets/partials/layout/_pagination.sass */
  body.bp .pagination a, body.bp .pagination a:visited {
    background: #ff0000;
    padding: 4px;
    color: #fff;
    text-decoration: none; }

/* line 2, ../../../app/stylesheets/partials/layout/_comments.sass */
body.three-col .comments {
  margin: 20px 0 0 50px; }
  /* line 4, ../../../app/stylesheets/partials/layout/_comments.sass */
  body.three-col .comments .comment {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 15px;
    background: url(../../images/comment-arrow.gif) no-repeat 40px 0px; }
    /* line 5, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    body.three-col .comments .comment {
      display: block; }
    /* line 8, ../../../app/stylesheets/partials/layout/_comments.sass */
    body.three-col .comments .comment .comment-markdown {
      border: solid 2px #d0d0d0;
      background: #efefef;
      float: left;
      margin: 0 0 0 22px;
      padding: 10px;
      width: 500px; }
    /* line 15, ../../../app/stylesheets/partials/layout/_comments.sass */
    body.three-col .comments .comment img.gravatar {
      float: left; }
    /* line 17, ../../../app/stylesheets/partials/layout/_comments.sass */
    body.three-col .comments .comment .comment-info {
      padding: 3px;
      clear: both;
      margin-left: 55px; }
  /* line 21, ../../../app/stylesheets/partials/layout/_comments.sass */
  body.three-col .comments form {
    margin: 20px 0 0 55px; }
    /* line 23, ../../../app/stylesheets/partials/layout/_comments.sass */
    body.three-col .comments form textarea {
      width: 500px; }

/* line 22, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body.bp {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }
  /* line 53, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h1 {
    font-weight: normal;
    color: #222222;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em; }
    /* line 58, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp h1 img {
      margin: 0; }
  /* line 60, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h2 {
    font-weight: normal;
    color: #222222;
    font-size: 2em;
    margin-bottom: 0.75em; }
  /* line 64, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h3 {
    font-weight: normal;
    color: #222222;
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em; }
  /* line 69, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h4 {
    font-weight: normal;
    color: #222222;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em; }
  /* line 74, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h5 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em; }
  /* line 79, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h6 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold; }
  /* line 83, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
    margin: 0; }
  /* line 85, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp p {
    margin: 0 0 1.5em; }
    /* line 87, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp p img.left {
      display: inline;
      float: left;
      margin: 1.5em 1.5em 1.5em 0;
      padding: 0; }
    /* line 91, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp p img.right {
      display: inline;
      float: right;
      margin: 1.5em 0 1.5em 1.5em;
      padding: 0; }
  /* line 95, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp a {
    text-decoration: underline;
    color: #000099; }
    /* line 12, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:visited {
      color: #000066; }
    /* line 15, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:focus {
      color: black; }
    /* line 18, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:hover {
      color: black; }
    /* line 21, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:active {
      color: #cc0099; }
  /* line 98, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic; }
  /* line 102, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp strong {
    font-weight: bold; }
  /* line 104, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp em {
    font-style: italic; }
  /* line 106, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp dfn {
    font-style: italic;
    font-weight: bold; }
  /* line 109, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp sup, body.bp sub {
    line-height: 0; }
  /* line 111, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp abbr, body.bp acronym {
    border-bottom: 1px dotted #666; }
  /* line 113, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp address {
    margin: 0 0 1.5em;
    font-style: italic; }
  /* line 116, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp del {
    color: #666; }
  /* line 118, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp pre {
    margin: 1.5em 0;
    white-space: pre; }
  /* line 121, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp pre, body.bp code, body.bp tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5; }
  /* line 123, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp li ul, body.bp li ol {
    margin: 0 1.5em; }
  /* line 125, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp ul {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: disc; }
  /* line 128, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp ol {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: decimal; }
  /* line 131, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp dl {
    margin: 0 0 1.5em 0; }
    /* line 133, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp dl dt {
      font-weight: bold; }
  /* line 135, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp dd {
    margin-left: 1.5em; }
  /* line 137, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp table {
    margin-bottom: 1.4em;
    width: 100%; }
  /* line 140, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp th {
    font-weight: bold; }
  /* line 142, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp thead th {
    background: #c3d9ff; }
  /* line 144, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp th, body.bp td, body.bp caption {
    padding: 4px 10px 4px 5px; }
  /* line 146, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp tr.even td {
    background: #e5ecf9; }
  /* line 148, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp tfoot {
    font-style: italic; }
  /* line 150, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp caption {
    background: #eee; }
  /* line 152, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp .quiet {
    color: #666666; }
  /* line 154, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp .loud {
    color: #111111; }

/* line 12, ../../../app/stylesheets/partials/_layout.sass */
body.bp {
  background: #313233; }
  /* line 14, ../../../app/stylesheets/partials/_layout.sass */
  body.bp em {
    color: #aaa; }
  /* line 16, ../../../app/stylesheets/partials/_layout.sass */
  body.bp h1 {
    color: #383958;
    font-size: 2em;
    font-family: Trebuchet MS,Helvetica Neue,Arial,Helvetica,sans-serif; }
  /* line 20, ../../../app/stylesheets/partials/_layout.sass */
  body.bp h2 {
    color: #383958;
    font-size: 1.6em;
    font-family: Trebuchet MS,Helvetica Neue,Arial,Helvetica,sans-serif; }

/* line 25, ../../../app/stylesheets/partials/_layout.sass */
body.three-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../../../.gem/ruby/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  body.three-col #container {
    display: block; }
/* line 28, ../../../app/stylesheets/partials/_layout.sass */
body.three-col .last-vertical-block {
  margin-bottom: 0; }
