@import layout/header.sass
@import layout/footer.sass
@import layout/sidebar.sass
@import layout/content.sass
@import layout/nuggets.sass
@import layout/your-account.sass
@import layout/pagination.sass

+blueprint-typography("body.bp")

body.bp
  background: #313233
  em
    color: #aaa
  h1
    color: #383958
    font-size: 2em
    font-family: Trebuchet MS,Helvetica Neue,Arial,Helvetica,sans-serif

body.three-col
  #container
    +container
    
  .last-vertical-block
    margin-bottom: 0