<% content_for(:title) do %>NuggetHub - Social knowledge base<% end %>

<h1>NuggetHub is a social knowledge base that allows you to share your tips and learn from others.</h1>
<button id="sign-up">Sign Up</button>
<button id="login">Login</button>
