<% content_for(:title) do %>Your Account<% end %>

<h1>Your Account</h1>
<div class="your-account">
    <%= render :partial => '/shared/user_form', :locals => {
            :url => { :action => "update" },
            :button_text => 'Save Changes'
    } %>
</div>