<% content_for(:title) do %>Join NuggetHub<% end %>

<h1>Join NuggetHub</h1>
<%= render :partial => '/shared/user_form', :locals => {
        :url => { :action => "create" },
        :button_text => 'Join'
} %>